img{
    width:100%;
    height: 200px;
    display: inline;
    border-radius: 10px;
}

.vendidos{
 margin: 5%;
  
}

.lancamento{
  margin-top: 59px;
}

.retro{
  margin-top: 59px;
}


.logo{
  width: 90px;
  height: 90px;
  display: inline;
  margin-left: 6%;
  margin-top: -3%;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.logo:hover{
  transform: scale(1.2)
}

/* login */

form{
  background-color: rgba(0, 0, 0, 0.8);
  position:fixed;
  padding: 5px 40px 20px;
  width: 20%;
  margin-top: 10%;
  border-radius: 10px;
  margin-left: 36%;
  display: none ;
}

.login{
  cursor: pointer;
}

form input{
  width: 100%;
  padding: 10px 10px;
  border: solid rgb(221, 221, 221);
  outline: none;
  border-radius: 10px;
  margin: 0px 0px 10px;
}
form h1{
  color: rgb(255, 255, 255);
  text-decoration: underline rgb(33, 185, 185);
  text-align: center;
  font-family: 'verdana';
}
.btn-button{
  width: 40%;
  margin-left: 30%;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.btn-button:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transform: scale(1.1)
}
form input:focus{
  border:solid #ffffff 3px;
}
#sair{
  color: white;
  font-size: 45px;
  margin-left: 90%;
}
#sair:hover{
  color:rgb(255, 255, 255);
  transition: 0.4s;
  cursor: pointer;

}

.aqui{
  color: #f1f1f1;
}


/* camisetas de time mais vendidas recentemente */

.coringao{
  background-color: #ffffff;
  border-radius: 20px ;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  width: 13%;
  padding: 5px;
  display: inline-block;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
 
}

.coringao:hover{
  transform: scale(1.2)
}


.vasco2{
  background-color: #ffffff;
  border-radius: 20px ;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  width: 13%;
  padding: 5px;
  display: inline-block;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.vasco2:hover{
  transform: scale(1.2)
}


.leverkusen2{
  background-color: #ffffff;
  border-radius: 20px ;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  width: 13%;
  padding: 5px;
  display: inline-block;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.leverkusen2:hover{
  transform: scale(1.2)
}


.venezia1{
  background-color: #ffffff;
  border-radius: 20px ;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  width: 13%;
  padding: 5px;
  display: inline-block;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.venezia1:hover{
  transform: scale(1.2)
}

.barcelona1{
  background-color: #ffffff;
  border-radius: 20px ;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  width: 13%;
  padding: 5px;
  display: inline-block;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.barcelona1:hover{
  transform: scale(1.2)
}

/* camisetas retrô */

.corinthians1{
  background-color: #ffffff;
  border-radius: 20px ;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  width: 13%;
  padding: 5px;
  display: inline-block;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.corinthians1:hover{
  transform: scale(1.2)
}


.manchester1{
  background-color: #ffffff;
  border-radius: 20px ;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  width: 13%;
  padding: 5px;
  display: inline-block;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.manchester1:hover{
  transform: scale(1.2)
}


.parma1{
  background-color: #ffffff;
  border-radius: 20px ;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  width: 13%;
  padding: 5px;
  display: inline-block;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.parma1:hover{
  transform: scale(1.2)
}


.milan1{
  background-color: #ffffff;
  border-radius: 20px ;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  width: 13%;
  padding: 5px;
  display: inline-block;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.milan1:hover{
  transform: scale(1.2)
}


.newcastle1{
  background-color: #ffffff;
  border-radius: 20px ;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  width: 13%;
  padding: 5px;
  display: inline-block;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.newcastle1:hover{
  transform: scale(1.2)
}

/* camisetas dessa temporada */
.juve3{
  background-color: #ffffff;
  border-radius: 20px ;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  width: 13%;
  padding: 5px;
  display: inline-block;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.juve3:hover{
  transform: scale(1.2)
}

.sampdoria1{
  background-color: #ffffff;
  border-radius: 20px ;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  width: 13%;
  padding: 5px;
  display: inline-block;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.sampdoria1:hover{
  transform: scale(1.2)
}




.barcelona2{
  background-color: #ffffff;
  border-radius: 20px ;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  width: 13%;
  padding: 5px;
  display: inline-block;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.barcelona2:hover{
  transform: scale(1.2)
}


.bayern4{
  background-color: #ffffff;
  border-radius: 20px ;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  width: 13%;
  padding: 5px;
  display: inline-block;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.bayern4:hover{
  transform: scale(1.2)
}


.chelsea3{
  background-color: #ffffff;
  border-radius: 20px ;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  width: 13%;
  padding: 5px;
  display: inline-block;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.chelsea3:hover{
  transform: scale(1.2)
}

  


.sobre{
  margin-top: 10%;
}

h1, h2{
  color: #ffffff;
  
}

h4{
  color: #000000;
}

h3{
  color: #000000;
}

h5{
  color: #ffffff;
}

body {
  background-color:  #44A1A0;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1%;
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 250px;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #ffffff;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}


.botao{
  border-radius: 4px;
  margin-left: -5%;
  text-align: center;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 12px;
  color: rgb(241, 241, 241);
  background-color: rgb(5, 3, 3);
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
  cursor: pointer;
  display: inline;
}

.botao:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(252, 252, 252);
  transform: scale(1.2)
}


#barra{
  width: 10%;
  height: 34px;
  margin-left: 79%;
  cursor:auto;
  outline: none;
  border: 20px;
  margin-top: 1%;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

#barra:hover{
  transform: scale(1.2)

}

.tudo{
  text-align: center;
}


footer{
color: #ffffff;
}


.cima{
  display: flex;
}
